<table>
  <tbody>
    <tr><th>Service URL</th><td><input type="text" id="incomming_webhook_url" value="<%= settings['incomming_webhook_url'] %>" name="settings[incomming_webhook_url]"/></td></tr>
    <tr><th><p><label for="only_assign"><%= check_box_tag("settings[only_assign]", true, @settings['only_assign'] ) %>Notify only when assignee changed</label></p></th><td></td></tr>
    <tr><th></th><td><%= link_to 'Test', { controller: 'settings/msteams', action: 'test'} %></td></tr>
  </tbody>
</table>
